*.o
*.d
*.blend1
*.map
*.srl
*.bin
.*.swp
*.tar
*.tar.bz2
*.exe
nie.zip
*.htdump
*.chrome
version.inc
nie.elf
.xmake
*.dll
*.download
nieW.zip
*.bc
*.ll
savefile.git
savefile
*.tar
*.tar.bz2
nie
*.exe
nie.zip
*.htdump
*.chrome
version.inc
nie.elf
cserial
